.btnSortear{
  width: 20%;
  font-family: 'International Super Hero', sans-serif;
  background-color: yellow;
  color: black;
  margin: 6rem 0 2rem 0;
  border: none;
  font-size: 2rem;
  position: relative;
}


.btnPlay{
  width: 20%;
  font-family: 'International Super Hero', sans-serif;
  background-color: yellow;
  color: black;
  margin: -45% 0 0 40%;
  border: none;
  font-size: 2rem;
  position: relative;
}

.cartaJogador{
  width: 20%;
  position: relative;
  margin: 0 0 0 10%;
}
.cartaMaquina{
  width: 20%;
  position: relative;
  margin: -45% 0 0 70%;
}

.meuSelect{
  width: 20%;
  font-family: 'International Super Hero', sans-serif;
  background-color: yellow;
  color: black;
  margin: -24% 0% 0% 32%;
  font-size: 2rem;
  position: relative;
}

@media (max-width: 767px){
  .btnSortear{
    font-size: 1rem;
    width:45%;
  }
  .btnPlay{
    font-size: 0.7rem;
    margin: -70% 0 0 41%;
    width: 20%;
  }
  .meuSelect{
    font-size: 0.7rem;
    width:30%;
  }
  .cartaMaquina{
    margin: -94% 0 0 65%;
    width: 35%;
  }
  .cartaJogador{
    margin: 0 0 0 0;
    width: 35%;
  }
 
}

.modalper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color:aliceblue;
  border: 2px solid #000;
  box-Shadow: 24;
}

.opcoes{
  position: relative;
}